<template name="itemShow">
  <!-- show the title of the trading item -->
  <div id="trd-item-show" class="page-header">
    <h1>{{itemName}} <small>Conversation</small></h1>
  </div>
  I want to trade {{itemDescription}}.
  {{> yield "buyer-show" }}
</template>

<template name="buyerShow">
  <div class="trd-buyer-panel panel panel-default">
    <div class="trd-buyer-panel__body panel-body">
      Buyers {{count}}
      <div class="trd-buyer-panel__button trd-buttons trd-buttons--item-page btn-group pull-right" role="group" data-toggle="buttons" aria-label="...">
        <div class="btn-group" role="group">
          <label for="bidding" class="trd-buttons__bidding btn btn-default" autocomplete="off">
            <input type="radio" name="bidding" value="product">
            Bidding
          </label>
        </div>
        <div class="btn-group" role="group">
          <label for="favorite" class="btn btn-default" autocomplete="off">
            <input type="radio" name="favorite" value="favorite">
            Favorite
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="trd-my-items"></div>
  {{> yield "buyer-items"}}
  {{#if buyers}}
  <ul class="trd-list trd-list--buyers">
    {{#each buyers}}
      <li class="trd-list__item trd-item media">
        <div class="trd-item__profile-img media-left media-middle">
          <img class="media-object img-circle" src="{{profileImg}}" alt="">
        </div>
        <div class="trd-item__meta trd-meta media-body container-fluid">
          <div class="trd-meta__row row">
            <div class="trd-meta__title col-xs-9">
              <a href="" class="trd-meta__title-link">
                <span>Item: {{itemName}}</span><br>
                {{itemDescription}}
              </a>
            </div>
            <div class="trd-meta__progress col-xs-1">
              <input type="checkbox" name="trd-item__progress" {{progress}}>
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ul>
  {{/if}}
</template>

<template name="myItems">
  <h3>My items</h3>
  <form action="">
    <label for="trd-my-item">Select My Item</label>
    <select id="trd-my-item" name="trd-my-item" class="form-control">
      {{#each myItems}}
      <option value="{{_id}}">{{itemName}}</option>
      {{/each}}
    </select>
    <button class="trd-submit__button">Bid!</button>
  </form>
</template>
