<template name="itemShow">
  <!-- show the title of the trading item -->
  <div class="page-header">
    <h1>{{itemName}} <small>Conversation</small></h1>
  </div>
  I want to trade {{itemDescription}}.
  {{> yield "buyer-show"}}
</template>

<template name="buyerShow">
  <ul class="trd-list trd-list--buyers">
    {{! #each}}
      <li class="trd-list__item trd-item media">
        <div class="trd-item__profile-img media-left media-middle">
          <img class="media-object img-circle" src="{{profileImg}}" alt="">
        </div>
        <div class="trd-item__meta trd-meta media-body container-fluid">
          <div class="trd-meta__row row">
            <div class="trd-meta__title col-xs-9">
              <a href="" class="trd-meta__title-link">
                <span>Item: {{itemName}}</span><br>
                {{itemDescription}}
              </a>
            </div>
            <div class="trd-meta__progress col-xs-1">
              <input type="checkbox" name="trd-item__progress" {{progress}}>
            </div>
          </div>
        </div>
      </li>
    {{! /each}}
  </ul>
</template>
