<template name="submit">
  <form class="trd-submit row">
    <div class="form-group">
      <label for="trd-submit__title">Name</label>
      <input type="text" name="trd-submit__title" class="trd-submit__title form-control" placeholder="item title" value="">
    </div>
    <div class="trd-submit__cat form-group">
      <label for="trd-submit__cat">Category</label>
      <div class="trd-submit__btn-group btn-group btn-group-justified" role="group" data-toggle="buttons" aria-label="Choose category">
        <div class="btn-group" role="group">
          <label for="categoryProduct" class="trd-submit__btn--product btn btn-default" autocomplete="off">
            <input type="radio" name="categoryProduct" value="product">
            Product
          </label>
        </div>
        <div class="btn-group" role="group">
          <label for="categoryService" class="trd-submit__btn--service btn btn-default" autocomplete="off">
            <input type="radio" name="categoryService" value="service">
            Service
          </label>
        </div>
        <div class="btn-group" role="group">
          <label for="categoryOthers" class="trd-submit__btn--others btn btn-default" autocomplete="off">
            <input type="radio" name="categoryOthers" value="others">
            Others
          </label>
        </div>
      </div>
    </div>
    {{#if catSel}}
    {{> subCategory}}
    {{/if}}
    <input type="hidden" class="trd-submit-subcat" value="">
    <div class="form-group">
      <label for="trd-submit__description">Description</label>
      <textarea name="trd-submit__description" class="trd-submit__description form-control" placeholder="item description" rows="3" value=""></textarea>
    </div>
    <button class="trd-submit__button">Submit</button>
  </form>
</template>

<template name="subCategory">
  <div class="trd-subcat panel panel-default">
    <div class="trd-subcat__body panel-body">
      <button type="button" class="trd-subcat__close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{#each subCat}}
        <span class="trd-subcat__tag label label-success">{{this}}</span>
      {{/each}}
    </div>
  </div>
</template>
