<template name="submit">
  <form class="trd-submit">
    <div class="form-group">
      <label for="trd-submit__title">Name</label>
      <input type="text" name="trd-submit__title" class="trd-submit__title form-control" placeholder="item title" value="">
    </div>
    <div class="trd-submit__cat form-group">
      <label for="trd-submit__cat">Category</label>
      <div class="trd-submit__btn-group btn-group btn-group-justified" role="group" aria-label="Choose category">
        <div class="btn-group" role="group">
          <label for="categoryProduct" class="sr-only" autocomplete="off">Product</label>
            <input type="button" name="categoryProduct" class="trd-submit__btn--product btn btn-default" value="product">
        </div>
        <div class="btn-group" role="group">
          <label for="categoryService" class="sr-only" autocomplete="off">Service</label>
          <input type="button" name="categoryService" class="trd-submit__btn--service btn btn-default" value="service">
        </div>
        <div class="btn-group" role="group">
          <label for="categoryOthers" class="sr-only" autocomplete="off">Others</label>
            <input type="button" name="categoryOthers" class="trd-submit__btn--others btn btn-default" value="others">
        </div>
      </div>
    </div>
    {{#if catSel}}
    {{> subCategory}}
    {{/if}}
    <input type="hidden" class="trd-submit-subcat" value="">
    <div class="form-group">
      <label for="trd-submit__description">Description</label>
      <textarea name="trd-submit__description" class="trd-submit__description form-control" placeholder="item description" rows="3" value=""></textarea>
    </div>
    <button class="trd-submit__button">Submit</button>
  </form>
  {{> searchBox}}
</template>

<template name="subCategory">
  <div class="trd-subcat panel panel-default">
    <div class="trd-subcat__body panel-body">
      <button type="button" class="trd-subcat__close close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      {{#each subCat}}
        <span class="trd-subcat__tag label label-success">{{this}}</span>
      {{/each}}
    </div>
  </div>
</template>

<template name="searchBox">
  <label for="">Search</label>
  <div class="form-group">
  {{> esInput index="trading" class="form-control" placeholder="Search..." }}
  </div>

  <ul>
    {{#esEach index="trading"}}
      <li><a href="/item/{{slug}}">{{itemName}} ({{itemDescription}})</a></li>
    {{/esEach}}
  </ul>

  {{> esLoadMoreButton index="trading"}}

  {{#ifEsHasNoResults index="trading"}}
    <div class="no-results">No results found!</div>
  {{/ifEsHasNoResults}}

  {{#ifEsIsSearching index="trading"}}
    <div>Loading...</div>
  {{/ifEsIsSearching}}
</template>
