<template name="trading">
  <div class="trd-wrapper container">
    <header class="trd-header row">
      <a href="{{pathFor route="trading"}}" class="trd-header__title-link col-xs-3">
        <h1 class="trd-header__title-text">Trading</h1>
      </a>
      {{> loginButtons align="right"}}
    </header>
    <div class="clearfix visible-xs-block"></div>
    <section class="trd-form container-fluid">
      {{> yield "submit-show"}}
    </section>

    <section class="trd-content">
      {{> yield}}
    </section>
  </div>
</template>
