<template name="trading">
  <h1>Trading</h1>
  <div class="trading-submit">
    <form id="trading-submit__form">
      <input type="text" name="trading-item-title" placeholder="item title"><br>
      <input type="textbox" name="trading-item-description" placeholder="item description" value=""><br>
      <button id="trading-item-submit">Submit</button>
    </form>
  </div>
  <div class="trading">
    <ul class="trading__list">
      {{#each trading}}
        <li class="trading__item">
          <div class="trading__user-profile-img">
            <img src="{{user_profile_img}}" alt="">
          </div>
          <div class="trading__item-title">
            <span>Item:</span> {{item_title}}
          </div>
          <div class="trading__bidder-count">
            <span>{{bidder_count}}</span>
          </div>
          <div class="trading__progress">
            <input type="checkbox" name="trading__progress" {{trading_progress}}>
          </div>
          <div class="trading__remove">
            
          </div>
        </li>
      {{/each}}
    </ul>
  </div>
</template>
